<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${student.firstName} + ' ' + ${student.lastName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav th:insert="fragments :: nav"></nav>
<div class="container mt-5 mb-5 text-center">
    <p th:if="${studentIsExist}" class="error alert alert-warning" role="alert"
       th:text="'Student ' + ${firstName} + ' ' + ${lastName} + ' already exist!'"/>
    <p th:if="${numberIsExist}" class="error alert alert-warning" role="alert"
       th:text="'Number ' + ${number} + ' is already taken!'"/>
    <div th:each="el : ${student}">
    <table  class="table">
        <form method="post">
            <tr>
                <th>Имя</th>
                <td><input type="text" th:value="${el.firstName}" name="firstName" placeholder="Имя" class="form-control"></td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td><input type="text" th:value="${el.lastName}" name="lastName" placeholder="Фамилия" class="form-control"></td>
            </tr>
            <tr>
                <th>Возраст</th>
                <td><input type="text" th:value="${el.age}" name="age" placeholder="Возраст" class="form-control"></td>
            </tr>
            <tr>
                <th>Номер</th>
                <td><input type="text" th:value="${el.number}" name="number" placeholder="Номер" class="form-control"></td>
            </tr>
            <tr>
                <th>Класс</th>
                <td><input type="text" th:value="${el.clas}" name="clas" placeholder="Класс" class="form-control"></td>

            </tr>
            <tr>
                <th>Класс</th>
                <td><input type="text" th:value="${el.subClass}" name="subClass" placeholder="Подкласс" class="form-control"></td>

            </tr>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
        <br><br>
        </table>
        <form th:action="'/remove/' + ${id}" method="post">
            <button class="btn btn-success" type="submit">Удалить</button>
        </form>

    </div>




</div>

</body>
</html>