<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Students Web</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 mb-5 text-center">
    <h1>Добавление Студента</h1><br>
    <form action="/add" method="post">
        <input type="text" name="firstName" placeholder="Имя" class="form-control"><br>
        <input type="text" name="lastName" placeholder="Фамилия" class="form-control"><br>
        <input type="text" name="age" placeholder="Возраст" class="form-control"><br>
        <input type="text" name="number" placeholder="Номер телефона" class="form-control"><br>
        <input type="text" name="clas" placeholder="Класс" class="form-control"><br>
        <input type="text" name="subClass" placeholder="Подкласс" class="form-control"><br>
        <button type="submit" class="btn btn-success ">Добавить</button>
    </form>
</div>
</body>
</html>