<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container justify-content-center mt-5 mb-5 col-md-3 text-center bg-dark">
    <br>
    <p th:if="${loginError}" class="error alert alert-primary" role="alert">Wrong Login or Password</p>
    <form th:action="@{/login}" method="post">
        <input type="text" id="username" class="form-control" name="username" placeholder="Login"
               autofocus="autofocus"/> <br/>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password"/> <br/>
        <input type="submit" value="Log in" class="btn btn-success"/>
        <a href="/registration" class="btn btn-success">Registration</a>
    </form>
    <br>
</div>
</body>
</html>